/build
/src/main/res/temp_images/layout_v2.PNG
/src/main/res/temp_images/layout_v2_copy.PNG
/src/main/res/temp_images/layout_v1.PNG
/src/main/res/temp_images/layout_v0.PNG
/src/main/res/temp_images/layout_v1_copy.PNG
!/src/main/res/temp_images/
